extends ../layout/auth

block content
	h1.sr-only Sign In
	.auth-box
		.auth-box-col
			p.lead: a(href='/').auth-box-logo: img(src='/keystone/images/One_North_Horizontal_Transparent_Color.png', width=205, alt=brand)
			p.lead Welcome, sign in to your account
		.auth-box-col
			if user
				p.lead Hi #{user.name.first},
				p.lead You're already signed in.
				.toolbar
					if user.isAdmin
						a(href='/keystone').btn.btn-primary Open Keystone
					a(href='/keystone/signout').btn.btn-cancel Sign out
			
			else
				form(method="post", novalidate).auth-form
					input(type='hidden', name=csrf_token_key, value=csrf_token_value)
					.form-group
						input(type='email', name='email', id='email', value=submitted.email, placeholder='Email').form-control
					.form-group
						input(type='password', name='password', id='password', placeholder='Password').form-control
					
					button(type='submit').btn.btn-primary.form-control Sign In
				
				//- TODO generic forgotten password functionality
				//- button(type='button').btn.btn-link Forgot Password?
				
block js
	//- Only focus the field after the shake animation is complete
	if messages && messages.error.length
		script setTimeout(function() { try { document.getElementById('email').focus(); } catch(e) {}; }, 800);
	else
		script try { document.getElementById('email').focus(); } catch(e) {};
